@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "Format_1452";
    src: url("Format_1452.woff2");
}

body{
 background-color: black;
 color: yellow;
 margin: 100px;
}

h1{
 color: white;
 align-self: center;
 font-size: 100px;
 font-family: "Kode Mono", monospace;
}

#poetry{
 padding: 200px;
 border-style: dotted;
 font-family: "Format_1452";
 font-size: 40px;
}